@media screen and (max-width:600px) {
    .nav-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    nav ul li{
        flex-direction: column;
    }
    .benner{
        width: 90%;
        margin: 0 auto;
    }
    .bener-content{
        padding-top: 20px;
    }
    .form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .form input{
        margin-left: 0;
    }
    .populer{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .populer-content{
        padding: 20px;
    }
    .choose{
        width: 90%;
        margin: 0 auto;
    }
    .choose-img img{
        width:100%;
    }
    .us-description{
        width: 90%;
        margin: 0 auto;
    }
    .choose-us-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
    }
    .deals-discounts{
        width: 90%;
        margin: 0 auto;
    }
    .dsc-img{
        width: 90%;
        margin: 0 auto;
    }

}