@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    max-width: 1170px;

}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo p {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #424247;
}

/* benner section  */
.benner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}

.bener-content {
    padding-top: 70px;
}

.bc-l1 {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.bc-l2 {
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
}

.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    margin: 120px 140px;
    display: flex;
    gap: 20px;
}

.form input {
    padding: 16px 0;
    margin-left: 130px;
    border-radius: 8px;
}

.form select {
    border-radius: 8px;
    padding: 16px 32px;
}

.btn-find,
.btn-read {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px;
    border: none;
}

/* populer section  */
.populer {
    max-width: 1170px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.pc-l1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.pc-l2,
.pc-ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.pc-ul {
    padding: 25px;
}

.btn-read {
    margin-top: 10px;
}

.populer-img {
    max-width: 550px;
}

/* .choose section  */
.choose {
    max-width: 1170px;
    margin: 20px auto;
}

.choose-content {
    text-align: center;
}

.choose-l1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 18px;
}

.choose-l2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.img-box {
    position: relative;
}

.img-box h2 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 35%;
    top: 42%;
}


/* why choos section  */
.why-choose-us {
    max-width: 1170px;
    margin: 0 auto;
}

.us-description {
    text-align: center;
}

.us-l1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.us-l2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.choose-us-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.us-dsc-1 {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.us-dsc-2 {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.us-dsc-3 {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Deals & Discounts section  */
.deals-discounts {
    max-width: 1170px;
    margin: 20px auto;
}

.discount-titel {
    text-align: center;
}

.dsc-l1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.dsc-l2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.dsc-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dsc-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-dsc {
    padding: 14px 22px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

/* simple-perfect sectiom */
.simple-perfect {
    width: 1170px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.perfect-conteiner {
    padding: 20px;
}

.per-l1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.per-l2 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.per-list {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0 15px 15px;
}

.per-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
}

.simple-vdo {
    padding: 20px;
    border-radius: 16px;
}

/* Newsletter section  */
.Newsletter {
    width: 1170px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.new-form {
    padding: 40px;
    color: #FFF;
    background-color: #f3eeee;
    border-radius: 15px;
}

.new-titel {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
}

.new-description {
    margin-bottom: 30px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.new-input {
    border-top: solid 1.5px rgba(19, 19, 24, 0.10);
    ;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0 50px;
    gap: 8px;
}

.new-input input {
    padding: 10px;
    border-radius: 8px;
}

.btn-sub {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.new-img {
    position: relative;
}

.img-discount {
    border: #FF5400 2px solid;
    color: #FFF;
    background-color: #FF5400;
    text-align: center;
    width: 324px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 60px;
    rotate: -20deg;
}

.dis-l1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.dis-l2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* footer section  */
.footer {
    background: rgba(19, 19, 24, 0.05);
    height: 400px;
    margin-top: 30px;
    padding: 20px;
}

.fotter-heder {
    margin: 0 auto;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.footer-logo p {
    color: #131318;
    font-size: 32px;
}

.icon {
    text-align: center;
    padding: 40px;

}

.icon i {
    padding: 20px;
}

.copy {
    border-top: 1.5px solid rgba(19, 19, 24, 0.10);;
    padding-top: 40px;
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin: 0 150px;
}